{% extends 'base.html' %}
{% block title %}{{ anime.a_name }}{% endblock %}

{% block body %}
<h1>
{{ anime.a_name }}
{% if marker == -1 %}- <font class="Watched">Watched</font>{% endif %}
</h1>
<div class="Watchers">
<b>Watching:</b>{% for watcher in watchers %}
{{ watcher.person.username }}
{% endfor %}
</div>
{% if anime.is_anime %}
<div class="APStuff">
<h3>Synopsis</h3>
<b><a href="http://www.anime-planet.com/anime/{{ anime.ap_slug }}">AP Link</a></b>
<p id="synop">[Anime Synopsis goes here]</p>
</div>
{% endif %}

<h2>File location - {{ anime.location }}</h2>

<table align="center" cellpadding="10" width="30%">
<tr>
	<th id="arrow-header">Mark</th>	
	<th>File</th>
	<th>Button</th>
</tr>
	{% for filename in file_list %}
	{% if marker == forloop.counter %}
	<tr class="Marked">
		<td>
		Marked
		{% else %}
		{% if forloop.counter < marker  or marker == -1 %}
			<tr class="Watched">
		{% else %}
			<tr>
		{% endif %}
			<td> 
		<a class="List" href="{% url aniface.views.mark anime.ap_slug %}?ep={{ forloop.counter }}">Mark</a>
		{% endif %}
		</td>
		<td align="center">{{ filename }}</td>
		<td align="center"><a href="{% url aniface.views.play anime.ap_slug %}?fn={{ filename }}">Play</a></td>
	</tr>
	{% endfor %}
</table>
<a class="List" href="{% url aniface.views.mark anime.ap_slug %}?ep=-1">Mark Watched</a>
{% endblock %}

{{ block.footer }}
