{% extends 'base.html' %}
{% block title %}{{ anime.a_name }}{% endblock %}

{% block body %}
<h1>{{ anime.a_name }}</h1>
<div class="APStuff">
<h3>Synopsis</h3>
<b><a href="http://www.anime-planet.com/anime/{{ anime.ap_slug }}">AP Link</a></b>
<p id="synop">[Anime Synopsis goes here]</p>
</div>

<h2>File location - {{ anime.location }}</h2>

<table align="center" cellpadding="10" width="30%">
<tr>
	<th id="arrow-header">Mark</th>	
	<th>File</th>
	<th>Button</th>
</tr>
	{% for filename in file_list %}
	{% if marker == forloop.counter %}
	<tr class="Watched">
		<td>
		Marked
		{% else %}
		<tr>
			<td>
		<a class="List" href="{% url aniface.views.mark anime.ap_slug %}?ep={{ forloop.counter }}">Mark</a>
		{% endif %}
		</td>
		<td align="center">{{ filename }}</td>
		<td align="center"><a href="{% url aniface.views.play anime.ap_slug %}?fn={{ filename }}">Play</a></td>
	</tr>
	{% endfor %}
</table>
<b><a href="/aniface/">Return to AniFace Home</a></b>
{% endblock %}
