a
{
text-decoration: none;
}

body
{
font-family: Raavi;
}

.APStuff {font-style: italic;}

ol, ul {font-weight: bold;}

A.List:link, A.List:visited {color: blue}
A.List:hover {color: red}
A.List:active {color: purple}


