<head>
<title>Priority List</title>
<link rel="stylesheet" type="text/css" href="/aniface/af_media/mystyles.css" />
<head>
<div id="p_list">
<h1>Priority List</h1>
{% if pl %}
    <ol>
    {% for entry in pl %}
        <li>{{ entry.anime.a_name }}
        <a class="List" href="/aniface/move/{{ entry.anime.ap_slug }}/?dr=1">Up</a>
        <a class="List" href="/aniface/move/{{ entry.anime.ap_slug }}/?dr=2">Down</a>&#x0009;
        <a class="List" href="/aniface/remove/?loc={{ forloop.counter }}">Remove</a></li>
    {% endfor %}
    </ol>
    
{% else %}
    <p>No list made.</p>
{% endif %}
</div>

<div id="extras_form">
    [This space left purposefully blank]
</div>
<b><a href="/aniface/">Return to AniFace Home</a></b>
