{% extends 'base.html' %}
{% block title %}Priority List{% endblock %}

{% block body %}
<div id="p_list">
<h1>Priority List for {{ u.username }}</h1>
{% if pl %}
    <ol>
    {% for entry in pl %}
        <li>{{ entry.anime.a_name }}
        <a class="List" href="{% url aniface.views.movepl entry.anime.ap_slug %}?dr=1">Up</a>
        <a class="List" href="{% url aniface.views.movepl entry.anime.ap_slug %}?dr=2">Down</a>&#x0009;
        <a class="List" href="{% url aniface.views.rm_plist %}?loc={{ forloop.counter }}">Remove</a></li>
    {% endfor %}
    </ol>
    
{% else %}
    <p>No list made.</p>
{% endif %}
</div>

<div id="extras_form">
    <h2>Add Anime to the Priority List</h2>
<form action="{% url aniface.views.add_plist %}" method="post">
    {% csrf_token %}<!-- ensures that post comes from the site, -->
    <ul>
    {% for a in alist %}
    <li class="PList"><input type="text" name="{{ a.ap_slug }}" class="PListText" id="{{ a.ap_slug }}" text-align="left" /> {{ a.a_name }}
    {% endfor %}
    </ul>
<input type="submit" value="Add" />
</form>
</div>
<b><a href="/aniface/">Return to AniFace Home</a></b>
{% endblock %}
